In [1]:
import pandas as pd

In [2]:

dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:

dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[["charges"]]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [12]:
from sklearn.utils.fixes import parse_version, sp_version
solver = "highs" if sp_version >= parse_version("1.6.0") else "interior-point"

from sklearn.linear_model import QuantileRegressor
regressor=QuantileRegressor(quantile=0.5, alpha=1.0, fit_intercept=True, solver='warn', solver_options=None)
regressor.fit(X_train,y_train)

ImportError: cannot import name 'parse_version' from 'sklearn.utils.fixes' (C:\Users\TamilaE\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\fixes.py)

In [13]:
from distutils.version import parse_version
from sklearn.utils.fixes import sp_version

solver = "highs" if sp_version >= parse_version("1.6.0") else "interior-point"

from sklearn.linear_model import QuantileRegressor
regressor = QuantileRegressor(quantile=0.5, alpha=1.0, fit_intercept=True, solver='warn', solver_options=None)
regressor.fit(X_train, y_train)

ImportError: cannot import name 'parse_version' from 'distutils.version' (C:\Users\TamilaE\AppData\Local\Continuum\anaconda3\lib\distutils\version.py)

In [14]:
pip install packaging

Requirement already satisfied: packaging in c:\users\tamilae\appdata\local\continuum\anaconda3\lib\site-packages (19.2)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\tamilae\appdata\local\continuum\anaconda3\lib\site-packages (from packaging) (2.4.2)
Requirement already satisfied: six in c:\users\tamilae\appdata\local\continuum\anaconda3\lib\site-packages (from packaging) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from distutils.version import parse_version
from sklearn.utils.fixes import sp_version

solver = "highs" if sp_version >= parse_version("0.24.0") else "interior-point"

from sklearn.linear_model import QuantileRegressor
regressor = QuantileRegressor(quantile=0.5, alpha=1.0, fit_intercept=True, solver='warn', solver_options=None)
regressor.fit(X_train, y_train)

ImportError: cannot import name 'parse_version' from 'distutils.version' (C:\Users\TamilaE\AppData\Local\Continuum\anaconda3\lib\distutils\version.py)

In [16]:
from distutils.version import StrictVersion
import sklearn
from sklearn.linear_model import QuantileRegressor

solver = "highs" if StrictVersion(sklearn.__version__) >= StrictVersion("0.24.0") else "interior-point"

regressor = QuantileRegressor(quantile=0.5, alpha=1.0, fit_intercept=True, solver='warn', solver_options=None)
regressor.fit(X_train, y_train)

ImportError: cannot import name 'QuantileRegressor' from 'sklearn.linear_model' (C:\Users\TamilaE\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\__init__.py)

In [17]:
from statsmodels.regression.quantile_regression import QuantReg

In [18]:
regressor=QuantReg()
regressor.fit(X_train,y_train)

TypeError: __init__() missing 2 required positional arguments: 'endog' and 'exog'

In [19]:
from sklearn.linear_model import QuantileRegressor
import numpy as np
from sklearn.utils.fixes import sp_version, parse_version
solver = "highs" if sp_version >= parse_version("1.6.0") else "interior-point"
regressor=QuantileRegressor(quantile=0.8, solver=solver)
regressor.fit(X_train,y_train)

ImportError: cannot import name 'QuantileRegressor' from 'sklearn.linear_model' (C:\Users\TamilaE\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\__init__.py)